<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd" >

	<bean id = "triangle" class = "springFrameworkDemo.Triangle" lazy-init = "true" >
		<property name = "pointA" ref = "zeroPoint"  />
		<property name = "pointB" ref = "point2"  />
		<property name = "pointC" ref = "point3"  />
	</bean>
	
	<bean id = "pointOfOrigin" class = "springFrameworkDemo.Point">
		<qualifier value = "pq" />
		<property name = "x" value = "0"/>
		<property name = "y" value = "0"/>
	</bean>
	
	<bean id = "point2" class = "springFrameworkDemo.Point">
		<property name = "x" value = "-20"/>
		<property name = "y" value = "0"/>
	</bean>
	
	<bean id = "point3" class = "springFrameworkDemo.Point">
		<property name = "x" value = "20"/>
		<property name = "y" value = "0"/>
	</bean>
	
	<bean id = "circle" class = "springFrameworkDemo.Circle">	
	</bean>
	
	<!-- <property name="center" ref = "zeroPoint"></property> -->
	
	<!-- Not required with <context:annotation-config /> <bean class = "org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->
	
	<context:annotation-config /> 
	
	<context:component-scan base-package="controller" />
	
</beans>